
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReAwaken{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="{{ url_for('root') }}">Home</a></li>
                <li><a href="{{ url_for('programs') }}">Programs</a></li>
                <li><a href="{{ url_for('feedback') }}">Feedback</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('my_feedback') }}">My Feedback</a></li>
                    {% endif %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('signup') }}">Signup</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <a href="https://tbceducation.ge" target="_blank" rel="noopener noreferrer">
                <img class="tbc-logo" src="{{ url_for('static', filename='images/tbc_logo.jpg') }}" alt="TBC Logo">
            </a>
            <p>&copy; {{ now.year }} ReAwaken. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
